@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    text-decoration: none;
}

body{
    
    background-color: #FAF7FD;
    width: 100vw;
    height: 100vh;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.principal{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.imagem{
    width: 213px;
    height: 213px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: #BB99DD solid 2px;
    border-radius: 50%;
}

.imagem img{
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.user{
    font-family: 'Poppins', sans-serif;
    color: #BB99DD;
    font-size: 16px;
    font-weight: 300;

    margin: 15px 0 33px 0;
}

.listaLink{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.linksItens{
    border: #BB99DD solid 2px;
    border-radius: 4px;

    width: 326px;
    height: 49px;

    text-align: center;
    margin-bottom: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    color: #BB99DD;
    font-size: 16px;
    font-weight: 300;
}

.listaRedes{
    display: flex;
    flex-direction: row;
    width: 233px;
    justify-content: space-between;
    margin-top: 62px;
}

.redesItens img{
    width: 24px;
    height: 24px;
}